<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

		<title>Eat Da Burger!</title>
	</head>

	<body class="bg-secondary">
		<header class="text-center">
			<img class="rounded-circle" src="./assets/img/burger.jpeg" style="width:50%" alt="Burger">

			<h2 class="m-4">EAT THAT BURGER!</h2>

		</header>

		{{{ body }}}

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/index.js"></script>

	</body>
</html>