<h2>EAT THAT BURGER!</h2>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="burg" name="burger_name">

    <button type="submit" id="addBurger">ADD BURGER!</button>
  </div>

</form>

<h2>To EAT...or NOT to EAT?</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-list devoured=false}}
    {{/unless}}
  {{/each}}
</ol>


<h2>DEVOUR ME!</h2>

<ol>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger-compost devoured=true}}
    {{/if}}
  {{/each}}
</ol>

