body {
    background-color: rgb(107, 189, 243);
    font-family: 'Hachi Maru Pop', cursive;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid grey;
    border-radius: 50%;
}